<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/acceuil.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <header>
        <h1>Profil Admin Page</h1>
    </header>
    
    <%- include('../includes/end.ejs') %>





