<nav>
    <a href="/">Accueil</a>
    <a href="/connexion">Connexion</a>
    <a href="/inscription">Inscription</a>
    <a href="/profil">Profils</a>
    <a href="/edit">Edit</a>
    <a href="/admin-profil">Admin Profil</a>
</nav>