@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.4em;
    margin: 100px 0;
    text-transform: uppercase;

    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.5s 0.5s ease forwards;
}
p{
    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.5s 0.6s ease forwards;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/backgroundlol2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
section{
    width: 90%;
}
section p{
    line-height: 150%;
}
section img{
    opacity: 0;
    transform: translateX(25px);
    animation: apparition 0.5s 0.8s ease forwards;

    width: 600px;
    position: absolute;
    bottom: 70px;
    right: 70px;
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
