@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-image: url(../img/backgroundlol2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;

}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    margin: 100px 0;
    text-transform: uppercase;

    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.5s 0.5s ease forwards;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
img{
    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.5s 0.75s ease forwards;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.75s 1.25s ease-out forwards;
}
.but{
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    font-size: 16px;
    border: none;
    padding: 11px 25px;
    cursor: pointer;
    transition: 0.5s;
    margin: 25px;
    font-weight: bold;

    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.75s 1.5s ease-out forwards;
}
.but:hover{
color: white;
background-color: black;
transition: 0.25s;
}
.spe{
    opacity: 0;
    transform: translateY(-18px);
    animation: apparition 0.75s 1.25s ease-out forwards;
}
.ds{
    flex-direction: column;
    margin: 25px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);

}
.ds:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.329);
    border: 1px solid rgb(255, 255, 255);
    
}
.det{
    color: rgb(155, 155, 155);
    text-decoration: none;
    transition: 0.5s;
}
.det:hover{
    transition: 0.2s;
    text-decoration: underline;
}
@keyframes apparition{
    100%{
        opacity: 1;
        transform: none;
    }
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
}