<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="./css/nav.css">
<link rel="stylesheet" href="./css/acceuil.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <header>
        <h1>Bievenue sur mon site</h1>
        <section>
            <p>
                Ceci est principalement un site pour m'exercer sur le node js ^^<br>
                je fais donc toute mes expérimentation et apprentissage ici
            </p>
            <img src="./img/ahri.png" alt="champion ahri de lol">
        </section>
    </header>
    
    <%- include('../includes/end.ejs') %>


